<div class="vpad--xxxxl bv-parallax bg--img text--white" style="background-image: url('{{site.img}}/content/geheimtipps/hero.jpg');">
  <div class="container container--xl">
    <div class="text text--xxl text--center">

      <h2 class="sub-title">Australiens schönste</h2>
      <div class="space--md"></div>
        <h2 class="banner-title banner-title--md">Geheimnisse</h2>
      <p>Vergessen Sie das Backpacker-Image von Australien. Hier zeigt das Land seine glamouröse Seite mit puren Luxuserlebnissen.</p>
      <div class="space--xl"></div>
      <a  href="{{site.baseurl}}/geheimtipps" class="btn btn--bv-outline-white">Inspirieren lassen</a>

    </div>
  </div>
</div>
