// general styles for the project that wouldn't be a reuseable component


/* ==========================================================================
   Map-Icon
   ========================================================================== */

.bv-map-local{
  display: block;
  margin:45px;
  //transform: scale(.5);
  height: 150px;
  width: 150px;
}



/* ==========================================================================
   Parallax
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}


@media only screen and (max-width: 1024px) {

.bv-remove-bg{
  background-image: none!important;
/*
  &--blue{
    background-image: none!important;
    background-color: $bv-blue;}*/
}

.bv-parallax{
      background-attachment: scroll;
      background-size: cover;

  }
}
