---
layout: default
---


<div class=" vpad--xxl " >
  <div class="container">
    <div class="width width--xl text--left text--normal text--xl " >
       <div class="text--italic">{{page.intro}}</div>
    </div>
  </div>
</div>



<div class="row row--xl-6-6 row--no-gutters bg--light ">
    <div class="col col--xl-4" >
      <div class="vpad--md">
        <div class="width width--lg bv-hpad">
          <div class="space--xxl"></div>
          <h1 class="title title--xl text--upper">Entdecken Sie Australien</h1>
          <div class="space--lg"></div>
          <h3 class="text text--xl text--bold">Nur einen Klick entfernt:<br> Exklusive Traumziele im Abenteuerland</h3>
          <div class="space--lg"></div>
          <h2 class="text text--lg text--normal bv-mob-hide--lg">Wir zeigen Ihnen alle spannenden Premium-Ziele gleichzeitig auf unserer interaktiven Australien-Karte. Möchten Sie mehr erfahren, über ein spannendes Luxuserlebnis, dann klicken Sie die Kategorien weg, bis Ihre Lieblingskategorie übrig bleibt</h2>
          <div class="space--xxl bv-mob-hide--lg"></div>
          <div class="bv-highlights-wrap ">
            <div class="space--md"></div>

            {% for section in site.data.highlights %}
              <div id="{{section.page-id}}" class="accordion bv-pin bv-{{section.page-id}} text text--md text--normal">{{section.title}}</div>
              <div class="panel bg--light text text--light">

                  {% for poi in section.pois.items %}
                  <a href="{{poi.link}}">
                    <div class="panel-img" style="background-image: url('{{site.img}}/content/{{section.page-id}}/bg-{{poi.img}}.jpg');"></div>
                    <div class="space--sm"></div>
                    <div class="text text--lg text--dark text--upper">{{poi.title}}</div>
                    <div class="text--dark text--md">{{poi.description}} <br></div>
                    <div class="space--xs"></div>
                    <div class="text--bold text--red">Mehr erfahren</div>
                  </a>
                   <div class="space--md"></div>
                   {% endfor %}

              </div>
          {% endfor %}

            <div class="space--xl"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col--xl-8">
         <div class="bv-highlights-section">
             <div class="map" id="map">
               <div class="bv-legend-wrap ">
               <a class="bv-toggle bv-toggle--border bv-toggle-active" id="bv-pin1"><div class=" bv-genuss text text--md">Genuss</div></a>
               <div class="bv-border"></div>
               <a class="bv-toggle bv-toggle-active" id="bv-pin2"><div class=" bv-natur text text--md">Natur</div></a>
               <div class="bv-border"></div>
               <a class="bv-toggle bv-toggle-active" id="bv-pin3"><div class="bv-icon bv-abenteuer text text--md">Abenteuer</div></a>
               <div class="bv-border"></div>
               <a class="bv-toggle bv-toggle-active" id="bv-pin4"><div class="bv-icon bv-kultur text text--md">Kultur</div></a>
             </div>
           </div>
        </div>
  </div>
</div>
{% include page/map/map.html %}
